.container {
  background-color: #f9f9f9;
  padding: 1.5em;
  border-radius: 8px;
  margin-bottom: 2em;

  p {
    margin-bottom: 1em;
    font-size: 1rem;
    color: #555;
  }
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 1.5em;

  // Ensure images within the container are responsive
  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
}
