@use '../../styles/mixins';
@use '../../styles/colors';
.ArticleList {

  margin: 50px;
  h3 {
    text-align: center;
  }
  ul {
    @include mixins.around_flex_wrap;
    text-align: center;
  }
  .article {
    height: 300px;
    width: 400px;
    @include mixins.box-shadow;
    margin: 20px;
    @include mixins.border-radius;
    background-color: colors.$white

  }
  a {
    color: black;
    text-decoration: none;
  }
}