@use '../../styles/colors';
.container {
  margin: 5%;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.7;
  color: #333;
  .completed {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
  }

  h1 {
    font-size: 2em;
    color: colors.$primary;
    margin-bottom: 0.5em;
  }
  .section {
    margin-top: 30px;
    h2 {
      font-size: 1.5em;
      color: colors.$primary;
      margin-bottom: 0.5em;
    }
    p {
      margin-bottom: 1em;
    }
    ul {
      margin-bottom: 1em;
      list-style: disc;
      li {
        margin-bottom: 0.5em;
      }
    }
  }

.GroPal {
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
}
}
