.container {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.7;
  color: #333;
  background-color: #fff;
  h1 {
    font-size: 2em;
    color: #4caf50;
    margin-bottom: 0.5em;
  }
  .section {
    margin-top: 30px;
    h2 {
      font-size: 1.5em;
      color: #4caf50;
      margin-bottom: 0.5em;
    }
    p {
      margin-bottom: 1em;
    }
    ul {
      margin-bottom: 1em;
      list-style: disc;
      li {
        margin-bottom: 0.5em;
      }
    }
  }
  .link {
    &:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  }

}
