.soilResults {
  h3 {
    text-align: center;
  }
  .imageContainer {
    justify-content: space-around;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    .card {
    }
    img {
      max-width: 90%;
      height: auto;
    }
  }
}