@use "../../styles/mixins";;
// MycorrPlus.module.scss
.container {
  margin: 0 auto;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 20px;
  padding: 2.5em;
}

.header {
  text-align: center;
  margin-bottom: 2em;
  .title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #2c3e50;
  }
  .subtitle {
    font-size: 1.5rem;
    color: #7f8c8d;
  }
}

.section {
  margin-bottom: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #eee;

  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5em;
    color: #4caf50;
  }
}

.fieldComparison {
  @include mixins.around_flex_wrap;
  text-align: center;
  .fieldBlock {
    margin-bottom: 40px;
    p {
      text-align: center;
      max-width: 500px;
    }

  }
}

.introSection {
  margin: 2em 0;
  p {
    margin-bottom: 1em;
    font-size: 1.1rem;
    color: #555;
  }
}

/* Specific sections for functionality, benefits, instructions, ROI, testimonials, and lab results */
.functionalitySection,
.benefitsSection,
.instructionsSection,
.roiSection,
.testimonialsSection,
.resultsSection {
  margin-bottom: 2em;
}
