@use 'colors';
.footer {
  color: colors.$grey;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  background-color: colors.$primary;
  color: colors.$white;
}
.column {
  width: fit-content;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

