@use "colors";

.topNav {
  display: flex;

  justify-content: space-between;
  align-items: center;
  position: relative;

}

/* Hamburger menu styles */
.menuToggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background-color: #333;
}

/* Navigation links styling */
.navLinks {
  margin-right: 300px;
  color: colors.$grey;
  display: flex;
  list-style: none;
  font-size: 20px;
  gap: 50px;
  a:hover {
    color: black;
  }
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  .menuToggle {
    display: flex;
  }

  .navLinks {
    flex-direction: column;
    position: absolute;
    top: 120px; // Adjust based on your header/logo height
    left: 0;
    width: 100%;
    background-color: colors.$primary;
    display: none;
    padding: 10px 0;
  }

  /* When menu is toggled open */
  .navLinks.active {
    display: flex;
  }

  .navLinks li {
    padding: 10px 20px;

  }
}
