@use '../../styles/colors';
@use '../../styles/_mixins';

.header {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  
  background-image: url('/images/home/Home-Background.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.hero {
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  text-align: center;

  background: url('/images/home/fields.webp');
  background-repeat: no-repeat;
  background-size: cover;
  color: colors.$grey;

  

}

.ctaButton {
  @include mixins.button
}


.text {
  @include mixins.card
}

/* Responsive adjustments for tablets and smaller screens */
@media screen and (max-width: 768px) {
  .header .hero {
    height: 500px; /* Reduce height for smaller screens */
  }
  .text {
    width: 80%;
    font-size: large;  /* Adjust font size */
    padding: 15px;     /* Adjust padding */
  }
}

/* Further adjustments for mobile devices */
@media screen and (max-width: 480px) {
  .header .hero  {
    height: 300px;
  }
  .text {
    width: 90%;
    font-size: medium;
    padding: 10px;
  }
}
