.contactPage {

  margin: 2rem auto;
  padding: 2rem;
  font-family: 'Arial', sans-serif;
  border-radius: 8px;
  .column {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.pageTitle {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 2rem;
}

.sectionTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #444;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 0.5rem;
}

.section p {
  font-size: 1.25rem;
  margin: 0.25rem 0;

}

