// Functionality.module.scss
.paragraph {
  margin-bottom: 1em;
  font-size: 1rem;
  color: #444;
}

.link {
  color: grey;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}
