.container {

  text-align: center;
  border-radius: 8px;
  margin-bottom: 2em;

  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1em;
  }
}

.section {


  h2 {
    font-size: 1.5rem;
    color: #4caf50;
    margin-bottom: 0.5em;
  }

  p,
  ul {
    font-size: 1rem;
    color: #555;
    list-style: none;
  }
}

.twoColumn {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
  section {
    flex: 1 1 45%;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .twoColumn {
    flex-direction: column;
    
    section {
      flex: 1 1 100%;
    }
  }
  
  .container {
    padding: 1em;
  }
  
  .container h1 {
    font-size: 1.8rem;
  }
  
  .section h2 {
    font-size: 1.3rem;
  }
}

.quote {
  font-style: italic;
  margin: 1em 0;
  padding-left: 1em;
  border-left: 3px solid #ccc;
  color: #777;
}
